<div class='col-md-10 col-md-offset-1 yieldcontent'>
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron jumboart text-center">
          <h2 class="welcome">EDIT USER</h2>
      </div>
      <div class="app-form-pad app-form-pad-long">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "app-form" }) do |f| %>
        <%= devise_error_messages! %>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon">Email</div>
                      <%= f.email_field :email, autofocus: true, class: "form-control" %>
                  </div>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon">Password</div>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon">Confirm Password</div>
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                  </div>
              </div>
              <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon">Current Password</div>
                      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                  </div>
              </div>
              <div>
                <%= f.submit "Update", class: "btn btn-default" %>
              </div>
            </div>
          </div>
        <% end %>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

