<div class='col-md-10 col-md-offset-1 yieldcontent'>
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron jumboart text-center">
        <h2 class="welcome">EDIT TASK #<%= @task.id %>:</h2>
      </div>
      <div class="app-form-pad">
        <%= form_for :task, url: task_path, method: :put, :html => {:class => "app-form"} do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">Title</div>
                  <%= f.text_field :title, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">Description</div>
                  <%= f.text_area :description, class: "form-control" %>
                </div>
              </div>
            <div class="">
                <%= f.submit "UPDATE", class: "btn btn-default" %>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>