<div class='col-md-10 col-md-offset-1 yieldcontent'>
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron jumboart text-center">
        <h2 class="welcome">SHARE TASK #<%= @task.id %></h2>
      </div>
      <div class="panel panel-default panel-wrapper">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-8">
                <strong>
                  <h3 class="panel-title"><%= @task.title %></h3>
                </strong>
              </div>
              <div class="col-xs-4 text-right">
                <h3 class="panel-title">
                  <span>
                    <%= link_to edit_task_path, class: "btn btn-warning btn-xs" do %>
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <% end %>
                  </span>
                  <span>
                    <%= link_to task_path, method: :delete, class: "btn btn-danger btn-xs" do %>
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <% end %>
                  </span>
                </h3>
              </div>
            </div>
          </div>
          <div class="panel-body panel-body-full">
            <%= @task.description %>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-10">
                <% @task.owners.each do |owner| %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"><span class="owner-email"> <%= owner %></span></span>
                <% end %>
              </div>
              <div class="col-xs-2 text-right">

              </div>
            </div>
            <div class="row">
              <%= form_for :task, url: task_share_path, method: :put, :html => {:class => "select-form"} do |f| %>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">Choose recipient</div>
                        <%= f.collection_select :owners, @users, :email, :email, {}, {:class => "form-control"} %>
                      </div>
                    </div>
                  <div class="">
                      <%= f.submit "UPDATE", class: "btn btn-default" %>
                  </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
